.explore_main {
  background-color: rgb(0, 25, 53);
}

.explore {
  /* background-color:red; */
  /* max-width: 1290px; */
  box-sizing: border-box;
  display: flex;
  width: 85vw;
  margin: auto;
  /* margin: 40px auto 0; */
  /* max-width: 990px; */
  padding: 0 8px;
}
.explore_left {
  width: 75%;
  /* border: 1px solid; */
  border-right: 1px solid rgb(33, 55, 79);
  margin-top: 50px;
}
.ex_left {
  width: 100%;
  /* border: 1px solid; */
}
.ex_nav {
  align-items: center;
  border-bottom: 1px solid rgb(33, 55, 79);
  color: beige;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.lt_head {
  display: flex;
  font-size: 1.125rem;
  font-weight: 600;

  line-height: 1.333;
  align-items: center;
}
.lt_head > div {
  /* margin-right: 5px; */
  margin-bottom: -1px;
  padding: 14px 16px;
  text-align: center;
}
.lt_head > div:hover {
  background-color: rgb(33, 55, 79);
  box-shadow: inset 0 -2px 0 RGB(0, 184, 255);
  color: rgb(0, 184, 255);
}
/* .lt_head > div ::selection{
        box-shadow: inset 0 -2px 0 RGB(0, 184, 255);
    color: rgb(0, 184, 255);
} */
.rt_head {
  margin-right: 20px;
}
.rt_head > button {
  color: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.ex_corosal {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.coro_card {
  margin-right: 20px;
  background-image: linear-gradient(
    to right top,
    rgb(139, 201, 226), rgb(0,184,255)
  );
  border-color: rgb(73, 89, 202);
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  /* float: left; */
}
.card_hash {
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  margin-bottom: 8px;
  max-width: 100%;
  min-height: 2em;
}
.coro_imgP {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.coro_img {
  height: 93.3333333333px;
  width: 45%;
  border-radius: 3px;

  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.coro_img > img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.coro_cardB {
  width: 100%;
  margin-top: 8px;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 64, 177);
  border-radius: 3px;
  /* font-family: var(--font-family); */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 8px 20.5px;
}
.explore_blogs {
  width: 100%;
  display: flex;
}
.explore_bl {
  width: 30%;
  margin-right: 20px;
}
.article {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 6px;
}
.article_head {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.article_headC {
  display: flex;
  background-color: white;
}
.article_headI {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  margin-right: 10px;
}
.article_headI > img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  padding-right: 10px;
}
.article_headH {
  color: black;
  font-size: 0.875rem;
  font-weight: 600;
  height: 100%;
  /* justify-content: space-between; */
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 5px;
  cursor: pointer;
}
.article_headH > span {
  color: rgb(0, 184, 255);
  padding-left: 5px;
}
.art_ic {
  color: black;
  cursor: pointer;
}
.article_img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.article_img1 {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.article_img1 > img {
  height: 100%;
  width: 100%;
}
.article_img > img {
  height: 100%;
  width: 100%;
}
.article_mimg {
  /* display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px; */
  width: 100%;
  height: 100%;
}
.article_mimg > img {
  /* height: 50%; */
  width: 100%;
  height: 100%;
}
.ex_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  width: 100%;
  height: 50%;
}
.article_tags {
  background-color: white;
  color: rgba(120, 113, 113, 0.64);

  /* display: flex; */

  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  word-spacing: 5px;
}
.article_tags > div > p {
  width: 100%;
  margin: auto;
  text-align: left;

  /* display: flex;
        flex-direction: row; */
}
.article_tags > div > p {
  font-weight: lighter;
  text-align: left;

  padding: 0px 5px;
  margin: auto;
  word-wrap: break-word;
}
.article_tags > div > p > span {
  padding: 0px 5px;
}
.article_tags > div > p > span:hover {
  color: inherit;
  text-decoration: underline;
}
/* .article_tags > div {
   background-color: white;
    float: left;
     margin-right: 10px;
     cursor: pointer;
     
     vertical-align: bottom;
} */
.article_footer {
  color: rgba(0, 0, 0, 0.65);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.footP {
  cursor: pointer;
  display: inline-block;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;

  text-align: left;
}
.footIc {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}
.footIc > div {
  margin-right: 8px;
}

.footIc > :nth-child(2) {
  font-size: 1.2rem;
}
.footIc > :nth-child(1) {
  font-size: 1.5rem;
}
.footIc > :nth-child(3) {
  font-size: 1.5rem;
  margin-top: -3px;
}

.explore_right {
  width: 25%;
  /* border: 1px solid; */
  margin-left: 0;
  margin-top: 50px;
  padding-left: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.rt_cont {
  background-color: rgba(255, 255, 255, 0.07);
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
.rt_infohead {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.333;
  padding: 20px 20px 0;
}
.rt_mainC {
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  justify-content: space-between;
  line-height: 1.5;
  padding: 5px 20px 20px;
}
.rt_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.rt_btn2 {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.65);
  /* font-family: var(--font-family); */
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  /* margin-top: 4px; */
  min-height: 40px;
  padding: 10px 20px;
  background-color: inherit;
}
.rt_btn1 {
  width: 100%;
  margin-bottom: 10px;
  align-self: flex-end;
  background: rgb(0, 184, 255);
  border: 2px solid rgb(0, 184, 255);
  border-radius: 3px;
  color: rgb(0, 25, 53);
  /* font-family: var(--font-family); */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  /* margin-top: 4px; */
  min-height: 40px;
  padding: 10px 20px;
}
.rt_cont2 {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  margin-bottom: 16px;
}
.rt_cont2H {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  color: rgb(255, 255, 255);
  /* font-family: var(--font-family); */
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.333;
  padding: 15px;
}
.rt_cont2 > ul {
  list-style-type: none;
  height: 236px;
  overflow-y: hidden;
  width: 100%;
  padding: 10px;
}
.rt_cont2 > ul > li {
  list-style-type: none;
  /* display: list-item; */
  list-style: none;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.cont2_info {
  display: flex;
}
.cont2_infoIm {
  height: 37px;
  width: 37px;
  margin-right: 10px;
  border-radius: 5px;
}
.cont2_infoIm > img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
/* .cont2_infoT{

} */
.cont2_infoT > span {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  word-break: break-word;
}
.cont2_infoT > div {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  font-weight: 400;

  /* hyphens: none; */
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont2_infoF {
  align-items: center;
  display: flex;
  padding-right: 14px;
  position: relative;
  text-align: right;
  /* margin-left: 30%; */
  margin-right: 10px;

  color: rgb(0, 184, 255);

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}
.cont2_btn {
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  color: rgb(0, 184, 255);
  /* display: block; */
  /* font-family: var(--font-family); */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 16px;
  text-align: center;
  width: 100%;
  background-color: transparent;
}
