.main1{
    width: 100%;
    background-color: rgb(0, 25, 53);
}
.main{
    width: 70%;
    margin: auto;
    color: white;
    display: flex;
}
.left{
    margin-top: 40px;
    margin-left: 10%;
    width: 50%;
    color: black;
}
.icons{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}
.diff{
    position: relative;
    right: 60%;
    top: 70px;
}
.diff>img{
    margin-top: -11px;
    margin-right: 11px;
    border-radius: 5px;
}
.diff1{
    margin-left: -122%;
    position: sticky;
    top: 70px;
}
.diff1>img{
    border-radius: 5px;
}
.blog{
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.blog>p{
        text-align: left;
        font-weight: 600;
        margin-top: -80px;
        margin-left: 20px;
}
.icons>div{
    width: 13%;
    margin-top: 10px;
    font-size: 40px;
    padding: 3px;
}
.hover1:hover{
    transform: translateY(-5px);
}
.icons>div>p{
    margin-top: -7px;
    font-size: 17px;
}
.right{
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 17px;
    width: 40%;
}
.right>h1{
    margin-bottom: -10px;
    font-size: 50px;
    font-weight: 400;
}