.main1{
    width: 100%;
    background-color: rgb(0, 25, 53);
}
.main{
    width: 70%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.left{
    margin-top: 40px;
    margin-left: 10%;
    width: 50%;
    color: black;
}
.icons{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}
.diff{
    position: relative;
    right: 60%;
    top: 70px;
}
.diff>img{
    margin-top: -11px;
    margin-right: 11px;
    border-radius: 5px;
}
.diff1{
    margin-left: -122%;
    position: sticky;
    top: 70px;
}
.diff1>img{
    border-radius: 5px;
}

.blog{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: white;
}
.blog>p{
        text-align: left;
        font-weight: 600;
        margin-top: -70px;
        margin-left: 20px;
}
.icons>div{
    width: 13%;
    margin-top: 10px;
    font-size: 40px;
    padding: 3px;
}
.hover1:hover{
    transform: translateY(-5px);
}
.icons>div>p{
    margin-top: -7px;
    font-size: 17px;
}
/* //////////////////////////////////////////////////////////////// */
.rt_cont2{
    width: 27%;
    height: 400px;
    position: sticky;
    top: 55px;
    background: rgb(0, 25, 53);
    border-radius: 3px;
    margin-bottom: 16px;
    margin-top: 90px;
    text-align: left;
    }
    .rt_cont2H{
        border-bottom: 1px solid rgba(255,255,255,.13);
        color: rgb(255,255,255);
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.333;
        padding: 15px;
    }
    .rt_cont2 > ul{
    list-style-type: none;
    height: 286px;
    overflow-y: hidden;
    width: 100%;
        padding: 10px;
    }
    .rt_cont2 > ul> li{
    list-style-type: none;
    list-style: none;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    }
    .rt_cont2 > ul> li:nth-child(4){
        margin-bottom: 35px;
    }
    /* .rt_cont2 > ul>a:hover{
        text-decoration: underline;
    } */
    .cont2_info{
    display: flex;
    }
    .cont2_infoIm{
    height: 37px;
    width: 37px;
    margin-right: 10px;
    border-radius: 5px;
    }
    .cont2_infoIm> img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .cont2_infoT{
        margin-top: -5px;
    }
    .cont2_infoT >span{
         color: rgb(255,255,255);
         font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        word-break: break-word;
    }
    .cont2_infoT > div{
        color: rgba(255, 255, 255,.65);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .cont2_infoF{
    align-items: center;
        display: flex;
        padding-right: 14px;
        position: relative;
        text-align: right;
        margin-right: 10px;
        color: rgb(0, 184, 255);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        text-decoration: none;
        cursor: pointer;
    }
    .cont2_infoF1{
        align-items: center;
        margin-left: 10px;
        color: rgb(0, 184, 255);
        font-size: 1rem;
        font-weight: 500;
    }
    .cont2_infoFgreen{
        position: relative;
        right: 35%;
        color: rgb(0, 207, 53);
        font-size: 1.1rem;
        font-weight: 600;
    }
    .cont2_infoFlast{
        align-items: center;
        margin-left: 5px;
        color: rgb(65, 65, 65);
        font-size: 1rem;
        font-weight: 500;
    }
    .iconsBottom{
        width: 96%;
        height: 45px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .iconsBottom>div{
        width: 40%;
        align-items: center;
        font-size: 32px;
        display: flex;
        justify-content: space-evenly;
        margin-top: -10px;
        color: rgb(109, 109, 109);
    }
    .icon:hover{
        cursor: pointer;
    }
    .description{
        width: 95%;
        margin: auto;
    }
   .tags p {
       color: grey;
       font-size: small;
       width: 95%;
       margin: auto;
       text-align: left;
       cursor: pointer;
   }
    .tags p a{
        font-weight: lighter;
        text-align: left;
       text-decoration: underline;
       padding: 0px 5px;
    }
    .tags p a:hover{
        color:blue
    }