.about{
    width: 100%;
    background-color: #7c5cff;
    border: 1px solid grey;
}
.about>div{
    width: 80%;
    margin: auto;
}
.text{
    margin-top: 70px;
    width: 45%;
    font-size: 17px;
    text-align: left;
    color: white;
    margin-bottom: 5px;
}
.text>h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: -10px;
}
.img{
    width: 100%;
    margin-left: -40px;
    margin-bottom: -6px;
}
.blogEx{
    width: 100%;
    background-color: #001935;
}
.main{
    width: 70%;
    margin: auto;
    color: white;
    display: flex;
}
.left{
    margin-top: 50px;
    width: 60%;
    color: black;
}
.icons{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}
.diff{
    position: relative;
    right: 58%;
    top: 70px;
}
.diff>img{
    margin-top: -11px;
    margin-right: 11px;
    border-radius: 5px;
}
.diff1{
    position: relative;
    right: 59%;
}
.diff1>img{
    border-radius: 5px;
}
.blog{
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.blog>p{
        text-align: left;
        font-weight: 600;
        margin-top: -80px;
        margin-left: 20px;
}
.icons>div{
    width: 15%;
    margin-top: 10px;
    font-size: 40px;
    padding: 3px;
}
.hover:hover{
    margin-bottom: 4px;
}
.icons>div>p{
    margin-top: -7px;
    font-size: 17px;
}
.right{
    margin-top: 180px;
    margin-left: 50px;
    text-align: left;
    font-size: 17px;
    width: 40%;
}
.right>h1{
    margin-bottom: -10px;
    font-size: 50px;
    font-weight: 400;
}
.orange{
    width: 100%;
    background-color: #ff8a00;
}
.icons1{
    width: 42%;
    height: 200px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}
.icons1>div{
    width: 19%;
    height: 110px;
    margin-top: 30px;
    margin-right: 25px;
    float: left;
    background-color: white;
    border-radius: 50%;
    font-size: 40px;
    padding: 3px;
}
.icons1>div>p{
    margin-top: 30px;
    font-size: 18px;
    color: white;
}
.icons1>div:nth-child(5){
    margin-left: 80px;
}
.text1{
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
    width: 35%;
    text-align: center;
    margin: auto;
}
.text1>h1{
    margin-top: 145px;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: -10px;
}
.hover1{
    margin-top: 35px;
}
.green{
    width: 100%;
    padding: 1px;
    background-color: #00cf35;
}
.green>p{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.green>img{
    width: 40%;
}
.green>div{
    width: 38%;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    color: white;
    margin: auto;
}
.green>div>h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: -10px;
}