.NavRight{
    width: 373px;
    height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #001935;
}
.NavRight>div{
    color: rgb(255, 255, 255);
    font-size: 27px;
}
.NavRight>div:nth-child(7){
    width: 45px;
    border-radius: 4px;
    font-size: 25px;
    height: 31px;
    color: black;
   background-color: #29b9f2;
}