#slido{
     width: 100%; 
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   backface-visibility: hidden;
   animation: slideB 9s linear infinite 0s;
   /* animation-duration: 10s; */
   animation-timing-function: ease-in-out;
   background-image: url("https://64.media.tumblr.com/455938a56868af49831dda6954ce1dbf/4f0dede001799d2b-8f/s1280x1920/828dce602ae2a8f03b06cd935d96de3504a7312f.png");
}
@keyframes slideB{
    0% {
        background-image: url("https://64.media.tumblr.com/23f67c9e48743b71019a2760ec964eeb/tumblr_pht85lwOZA1wo5099o1_500.png");
    }

     25% {
        background-image: url("https://64.media.tumblr.com/5d1a635991172f17768ab55eaaa80d1e/492244c72fa1a37a-77/s2048x3072/e1d9fa521e8264ad43ea4d8b0f2a2ee66850efc5.jpg");
    }

     50% {
        background-image: url("https://64.media.tumblr.com/5ce6ff046d5a765dc9050ab9ac819627/975e9bab230b7f48-19/s2048x3072/2c5d96129483dc1b61153607ca186cbcfba608c4.png");
    }

     75% {
        background-image: url("https://64.media.tumblr.com/9f4f017c52b08761463a85a8b0a2c61d/tumblr_phnl53zKn21vcpwffo2_1280.png");
    }

     100% {
        background-image: url("https://64.media.tumblr.com/c0ddb792e763b8611a7215b2c570f19a/458f60ab57ae1d3b-aa/s2048x3072/970b040a01324030061243fc8ce025af31450366.jpg");
    }
}




.lower{
 width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lower_info{
  align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.lower_info > h1{
   font-weight: 500;
    width: 740px;
    font-size: 3rem;
    line-height: 1.25;
    color: white;
    margin-bottom: 3px;
}
.lower_info > p{
    color: white;
    line-height: 1.5;
}