.main{
    width: 100%;
    background-color: #001935;
}
.navbar{
    display: flex;
    align-items: center;
}
.left{
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
.left>div{
    width: 10%;
    height: 24px;
    padding: 7px;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 20px;
    color: white;
    border: 0.5px solid rgb(158, 157, 157);
    border-style: dashed;
}
.left>div:hover{
    cursor: pointer;
    text-decoration: line-through;
}
.right{
    width: 30%;
    padding: 13px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.right>div{
    width: 15%;
    padding: 12px;
    margin-right: 15px;
    border-radius: 4px;
    font-weight: 600;
    color: rgb(0, 184, 255);
    border: 1px solid rgb(0, 184, 255);
}
.right>div:hover{
    color: #001935;
    cursor: pointer;
    background-color: rgb(0, 184, 255);
}

/* //////////////////////////////////////////////////Boxes */
.boxes{
    width: 1120px;
    height: 2200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #001935;
    /* border: 1px solid white; */
}
.left1{
    width: 430px;
    height: 430px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
    float: left;
    color: white;
    background-color: #7c5cff;
}
.left1>div{
    width: 68%;
    margin: auto;
    margin-top: 90px;
    transform: translateY(-5px);
}
.left1>div>h1{
    font-size: 47px;
}
.left1>div>p{
    color: rgb(229, 226, 226);
    font-size: 22px;
}
.right1>div{
    width: 210px;
    height: 210px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    opacity: 0.8;
    color: white;
    transition: ease 0.5s all;
}
.right1>div>img{
    border-radius: 2px;
    width: 100%;
    height: 210px;
}
.right1>div>p{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    bottom: 230px;
    right: 70px;
}
.right1>div:hover{
    transform: scale(0.95);
    cursor: pointer;
}
