.sidebarM {
  width: 20%;

  background-color: rgb(0, 25, 53);
}
.sidebarM > ul {
  background-color: rgb(0, 25, 53);

  overflow-y: hidden;
  width: 100%;
  padding: 0px;
}
.sidebarM > ul > li {
  list-style-type: none;

  list-style: none;

  padding: 0px 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.sidebarM > ul > li :hover {
  background-color: rgb(18, 41, 67);
}
.sidebar_infoT {
  padding: 5px 10px;
}
.sidebar_infoT > p {
  margin: 0px;
  font-weight: 500;
}
.sidebar_infoT :nth-child(1) {
  color: white;
}

.sidebar_infoT :nth-child(2) {
  color: rgb(165, 174, 184);
  font-weight: 400;
}
.sidebar_cont2H {
  font-weight: 500;
  line-height: 2.5;
  align-items: center;
  margin: 0px;
  padding: 5px 10px;
}
