/* body {
    background-color: red;
} */
.main {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 25, 53, 0.514);
}
.icons {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icons > div {
    width: 100px;
    height: 100px;
    z-index: 100;
    color: rgb(0, 25, 53);
    border-radius: 50%;
    background-color: rgb(193, 206, 221);
}
.icons > div > p {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.icons > div:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hover {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 800;
}
